# Environment variables and secrets
.env
.streamlit/secrets.toml

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Virtual Environments
venv/
env/
ENV/
.venv/

# Operating System & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
